<div class="{{classes}}">
    <input
        type="search"
        placeholder="Поиск"
        class="{{styles.search-input-field}}"
        value="{{value}}"
    />
    <img
        class="{{styles.search-input-icon}}"
        src="{{searchIcon}}"
        alt="Поиск"
    />
</div>
