<div class="{{classes}}">
    <input
        type="search"
        placeholder="Поиск"
        class="{{styles.searchInput-field}}"
        value="{{value}}"
    />
    <img class="{{styles.searchInput-icon}}" src="{{searchIcon}}" alt="Поиск" />
</div>