<div class="{{styles.chat}}">
    {{{chatTopBlock}}}
    <div class="{{styles.chat-message-list}}">
        {{#each messages}}
            {{{this}}}
        {{/each}}
    </div>
    {{{chatBottomBlock}}}
</div>