<form class="{{styles.authorization-container}}" id="form">
    {{{title}}}
    {{#each inputs}}
        {{{this}}}
    {{/each}}
    <div class="{{styles.authorization-bottom}}">
        {{{submitButton}}}
        {{{loginLink}}}
    </div>
</form>
