<div class="{{styles.chat-top}}">
    <div class="{{styles.chat-info}}">
        <div class="{{styles.chat-avatar}}"></div>
        <span class="{{styles.chat-name}}">{{userName}}</span>
    </div>
    <div class="{{styles.chat-controls}}">
        <img
            class="{{styles.chat-control-icon}}"
            src="{{binCircleIcon}}"
            alt="Удалить чат"
        />
        <img
            class="{{styles.chat-control-icon}}"
            src="{{plusCircleIcon}}"
            alt="Добавить пользователя"
        />
        <img
            class="{{styles.chat-control-icon}}"
            src="{{deleteCircleIcon}}"
            alt="Удалить пользователя"
        />
    </div>
</div>