<div class='chat-item {{class}}'>
  <div class='chat-item__avatar'></div>
  <div class='chat-item__main'>
    <span class='chat-item__name'>{{userName}}</span>
    <span class='chat-item__message'>{{lastMessage}}</span>
  </div>
  <div class='chat-item__info'>
    <span class='chat-item__time'>{{time}}</span>
    {{#if isNewMessage}}
      <div class='chat-item__message-count'>
        <span>{{numberOfNewMessages}}</span>
      </div>
    {{/if}}
  </div>
</div>