<section class="{{styles.profile-settings}}">
    <div class="{{styles.profile-settings-container}}">
        {{{profileAvatar}}}
        {{{text}}}
        {{{profileSettings}}}
    </div>
    {{{sideBackButton}}}
    {{{avatarModal}}}
</section>
