<div class="{{classes}}">
    <div class="{{styles.message-container}}">
        <span class="{{styles.message-text}}">{{text}}</span>
        <div class="{{styles.message-right-info}}">
            <img src="{{checkIcon}}" alt="Доставлено" />
            <span class="{{styles.message-time}}">{{time}}</span>
        </div>
    </div>
</div>