<div class="{{styles.chat-bottom}}">
    <form class="{{styles.chat-input}}">
        {{{messageInput}}}
        <div class="{{styles.chat-input-controls}}">
            {{#each controlButtons}}
                {{{this}}}
            {{/each}}
        </div>
    </form>
</div>