<div id="open-modal" class="{{styles.modal-window}}">
    <form>
        <a href="#" class="{{styles.modal-window-close}}">Закрыть</a>
        {{{text}}}
        {{{fileInput}}}
        {{{button}}}
    </form>
</div>